* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    text-decoration: none;
}

:root {
    --bg-color: #1E1E1E;
    --bg-text: #fff;
}

body {
    background-color: var(--bg-color);
    background-image: url(/img/bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20% 30%;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 55px 80px;

    nav {
        display: flex;
        gap: 30px;

        a {
            color: var(--bg-text);
        }

    }

    .icons {
        & i {
            color: #fff;
        }
    }

}

main {
    display: flex;
    justify-content: center;
    align-items: center;

    .home {
        max-width: 723px;
        margin-top: 70px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;

        .title {

            h1,h2 {
                font-size: 80px;
                font-weight: 500;
                text-align: center;
                color: var(--bg-text);
            }

            h1 {
                background: linear-gradient(to right, #ff1cf7, #00f0ff);
                -webkit-background-clip: text;
                color: transparent;
            }
        }

        p {
            color: var(--bg-text);
            text-align: center;
            font-size: 20px;
            line-height: 33px; /* altura entre as linhas */
        }
    }

        .btns {
            display: flex;
            gap: 28px;

            a {
                background: linear-gradient(#497cff, #001664);
                padding: 22px 50px;
                border-radius: 8px;
                color: var(--bg-text);
            }

            a:last-child {
                color: #000;
                background: linear-gradient(#D1D3E3, #75629d);
            }
        }

}